.swiper-container-horizontal.aaa>.swiper-pagination-bullets {
  top: calc(100% - 7rem);
  left: 0;
  width: 100%;
}

.aaa>.swiper-button-next,
.aaa> .swiper-button-prev {
  position: absolute;
  top: calc(50% - 2.5rem);
}
