name: Submodule Update Remote

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: check for changes
        run: git status

      - name: submodule Update
        run: |
          git submodule update --remote --recursive

      # This step will evaluate the repo status and report the change
      - name: Check if there are changes
        id: changes
        uses: UnicornGlobal/has-changes-action@v1.0.11

      # You can now access a variable indicating if there have been changes
      - name: Process changes
        if: steps.changes.outputs.changed == 1
        run: |
          echo "Changes exist"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "remote data update"
          git push

      - name: No Changes
        if: steps.changes.outputs.changed == 0
        run: |
          echo "No Changes"
